
Project Folder/Strategie Alpha/Library/shadercompiler-UnityShaderCompiler.exe0.log
*.log
Project Folder/Strategie Alpha/Library/assetDatabase3
Project Folder/Strategie Alpha/Library/CurrentLayout.dwlt
Project Folder/Strategie Alpha/Library/expandedItems
Project Folder/Strategie Alpha/Library/LastSceneManagerSetup.txt
Project Folder/Strategie Alpha/Library/shadercompiler-UnityShaderCompiler.exe0.log
Project Folder/Strategie Alpha/Library/
Project Folder/Strategie Alpha/obj/
Project Folder/Strategie Alpha/Packages/
Project Folder/Strategie Alpha/Temp/
